body {
    background-image: url(./img/fondo_tile.png);
    background-repeat: repeat-y;
    background-size: contain;
    height: max-content;
}

nav.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--red-1);
    box-shadow: var(--nav-drop-shadow);
    position: sticky;
    top:0;
}

nav .link-wrapper {
    display: flex;
}

nav a {
    margin: 1rem 2rem;
}

nav a .nav-text {
    width: max-content;
    font-family: "Basteleur-Bold", Helvetica;
    color: #ffffff;
    font-size: 2.5vw;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    text-shadow: var(--text-drop-shadow);
}

a.link {
    color: var(--yellow);
}

a.link:hover {
    text-decoration: underline;
}

main {
    margin-bottom: 150px;
}

h2.main-title {
    font-family: var(--title-font-family);
    color: #ffffff;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    margin-left: calc(calc(100% - 2* calc(45% - 5%) - 10%)/2);
    margin-top: 50px;
}

.regular-text {
    font-family: var(--body-font-family);
    color: #ffffff;
    line-height: normal;
    letter-spacing: 0.05rem;
}

.section {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    margin: 40px 0;
    width: 100%;
    justify-content: center;
}

.section.flex-row {
    flex-direction: row;
}

.section.flex-row-reverse {
    flex-direction: row-reverse;
}

.section .section-element {
    width: calc(45% - 5%);
    min-width: 300px;
    margin-top: 30px;
}

.section .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section .text .title {
    width: 100%;
    font-size: 2.3rem;
    letter-spacing: 1.5px;
    font-family: var(--subtitle-font-family);
}

.section .text .body {
    text-wrap: wrap;
    word-break: normal;
    white-space: normal;
    width: 100%;
    font-size: 1.4rem;
    line-height: 2rem;
}

.section .picture {
    display: flex;
    align-items: center;
}

.section .picture .image {
    max-width: 100%;
    object-fit: contain;
    border: 5px solid #ffffff;

}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255,255,255,0.15);
    padding: 40px 0;
}

footer nav.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: max(5vw, 20px);
}

footer nav.socials .button {
  border-radius: 50%;
  /* cursor: pointer; */
  padding: 0;
  margin: 0;
  width: max(4vw, 40px);
  height: max(4vw, 40px);
  transition: 0.15s;
}

footer nav.socials .button:hover {
    box-shadow: var(--ball-hover);
}

footer nav.socials .button-background {
  background-color: var(--yellow); 
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: var(--ball-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav.socials .button-background .button-padding {
    padding: 20%;
    width: 100%;
    height: 100%;
}

footer nav.socials .button-icon {
    fill: #000000;
    height: 100%;
    width: 100%;
}

footer nav.socials .button.youtube .button-icon {
    fill:none;
}